<script id="repo-item" type="text/html">
	<li class="span3 well" style="{{style}}">
		<a href="{{name}}" class="open">
			<strong>{{name}}</strong>
			<br/>
			<small>{{description}}</small>
		</a><br/>
		<a href="{{name}}" class="favorite">favorite</a>
	</li>
</script>
<script id="file" type="text/html">
	<tr data-path="{{path}}" class="{{type}}">
		<td>
			<em class="icon-{{type}}"></em>&nbsp;
			<input type="checkbox" />
		</td>
		<td>
			{{ name }}
		</td>
		<td>
			{{ size }}
		</td>
		<td>
			{{ sha }}
		</td>
	</tr>
</script>
<script id="template" type="text/html">
	<li>
		<h5>{{ name }}</h5>
		<a href="/cms/edit.html?page={{ path }}" class="btn">Edit Template</a>
		<a href="/cms/edit.html?page=_editors/{{ id }}.json" class="btn">Edit Dialog</a>
	</li>
</script>

