<script id="repo-item" type="text/html">
	<li class="span3 well" style="{{style}}">
		<a href="{{name}}" class="open">
			<strong>{{name}}</strong>
			<br/>
			<small>{{description}}</small>
		</a><br/>
		<a href="{{name}}" class="favorite">favorite</a>
	</li>
</script>
<script id="file" type="text/html">
	<tr data-path="{{path}}" class="{{type}}">
		<td>
			<em class="icon-{{type}}"></em>&nbsp;
			<input type="checkbox" />
		</td>
		<td>
			{{ name }}
		</td>
		<td>
			{{ size }}
		</td>
		<td>
			{{ sha }}
		</td>
	</tr>
</script>
<script id="template" type="text/html">
	<li>
		<h5>{{ name }}</h5>
		<a href="/cms/edit.html#{{ path }}" class="btn">Edit Template</a>
		<a href="/cms/edit.html#_editors/{{ id }}.json" class="btn">Edit Dialog</a>
	</li>
</script>
<script id="page-content-textarea" type="text/html">
	<legend>Page Content</legend>
	<textarea id="content" rows="20" style="width:100%" placeholder="Write your page...">{{content}}</textarea><br/>
</script>
<script id="page-content-markdown" type="text/html">
	<legend>Page Content</legend>
	<div id="markdown-editor"></div>
	<textarea id="content" style="display:none">{{content}}</textarea>
</script>
<script id="page-content-binary" type="text/html">
	<legend>File Content</legend>
	<a href="https://github.com/{{repo}}/blob/{{branch}}/{{path}}?raw=true">Download</a>
	<legend>Upload New</legend>
	<input type="file" id="upload-file-input" />
</script>
<script id="page-content-image" type="text/html">
	<legend>File Content</legend>
	<img src="https://github.com/{{repo}}/blob/{{branch}}/{{path}}?raw=true" />
	<legend>Upload New</legend>
	<input type="file" id="upload-file-input" />
</script>


