<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %} {{ page.title }} | {% endif %} {{site.name}} - {{site.description}}</title>
		<meta name="description" content="{{page.description}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{{ site.baseurl }}/images/logo-small.png" />
		<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/css/dataTables.bootstrap.css" />
		{% for style in page.styles %}<link rel="stylesheet" href="{{ site.baseurl }}{{ style }}" />{% endfor %} 
		<link rel="stylesheet" href="{{ site.baseurl }}/css/app.css" />
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.mustache.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.dataTables.js"></script>
		<script src="{{ site.baseurl }}/js/dataTables.bootstrap.js"></script>
		<script src="{{ site.baseurl }}/js/mustache.js"></script>
		<script src="{{ site.baseurl }}/js/Base64.js"></script>
		<script src="{{ site.baseurl }}/js/underscore.js"></script>
		<script src="{{ site.baseurl }}/js/github-api.js"></script>
		<script src="{{ site.baseurl }}/js/Stevenson.js"></script>
		{% for script in page.scripts %}<script src="{{ site.baseurl }}{{ script }}"></script>{% endfor %} 
		<script>
			Stevenson.loginRequired = {{page.authRequired}};
		</script>
	</head>
	<body>
		{% case page.mainMenu %}
			{% when 'stevMenuBar' %}
				{% include stevMenuBar.html %}
			{% when 'cmsMenuBar' %}
				{% include cmsMenuBar.html %}
			{% when 'mainMenuBar' %}
				{% include mainMenuBar.html %}
			{% when 'filesStudiesMenuBar' %}
				{% include filesStudiesMenuBar.html %}
			{% when 'filesPostsMenuBar' %}
				{% include filesPostsMenuBar.html %}
			{% else %}
				{% include mainMenuBar.html %}
		{% endcase %}
		<div class="container-fluid">
			<div class="row">
				<div class="span12">
					<div id="message-container"></div>
				</div>
			</div>
			{{content}}
			<hr/>
			<footer>
				<p>CohortEx Parameters Editor (&copy; Pablo J. Madril - 2017): Based on <a href="https://github.com/StevensonCMS/StevensonCMS.github.io">StevensonCMS</a> (&copy; Dan Klco - 2012) - both under Apache License 2.0</p>
			</footer>
		</div>
		{% include login.html %}
		{% include loader.html %}
	</body>
</html>
